body {
  display: grid;
}

canvas {
  cursor: pointer;
}

.toolbar{
  width: 800px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  font-size: 24px;
}

.clock{
  width: 800px;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}

button{
  width: 150px;
  height: 30px;
}

button:hover { 
  background-color: #5c88ce;
  border-color: #25477c;
}